/* FOr mobile phones: */
h1, h2, h3, h4, h5, p, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
  height: 100vh;
}

body h1 {
  font-size: 300%;
  margin-top: 0.15%;
  text-shadow: 2px 2px 4px black;
}

.gallery p.desc {
  padding: 0;
  text-align: center;
}

.heading h1 {
  color: white;
  text-align: center;
}

.container {
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 0;
  width: 96%;
  max-width: 768px;
  background-color: white;
  height: auto;
}

.main-content {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 4px 4px black;
          box-shadow: 2px 2px 4px 4px black;
}

.gallery {
  margin: 1% auto;
  width: 96%;
  color: white;
  font-size: 50%;
  /*border: 5px solid black;*/
  /* testing purposes */
  text-align: center;
  padding: 1%;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 500ms, font-size 1000ms, border-radius 250ms ease-out;
  transition: color 500ms, font-size 1000ms, border-radius 250ms ease-out;
}

.gallery img {
  width: 100%;
  margin: auto;
  -webkit-transition: width  500ms, border-radius 250ms ease-out;
  transition: width  500ms, border-radius 250ms ease-out;
}

.gallery img:hover {
  -webkit-transition: width  500ms, border-radius 250ms ease-in;
  transition: width  500ms, border-radius 250ms ease-in;
  width: 90%;
  border-radius: 20px;
}

.gallery:hover {
  color: black;
  font-size: 100%;
  -webkit-transition: color 500ms, font-size 1000ms, border-radius 250ms ease-in;
  -webkit-transition: color 500ms, font-size 1000ms, border-radius 250ms ease-in;
  transition: color 500ms, font-size 1000ms, border-radius 250ms ease-in;
}

/* For tablets: */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .container {
    max-width: 1025px;
  }
  .main-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery {
    margin: 1%;
    width: 45%;
    display: inline-block;
  }
  .gallery img {
    -webkit-transition: width  500ms, border-radius 250ms ease-out;
    transition: width  500ms, border-radius 250ms ease-out;
  }
  .gallery img:hover {
    -webkit-transition: width  500ms, border-radius 250ms ease-in;
    transition: width  500ms, border-radius 250ms ease-in;
    width: 90%;
    border-radius: 20px;
  }
}

/* For desktop: */
@media only screen and (min-width: 1026px) {
  .container {
    max-width: 96%;
  }
  .main-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  div.gallery {
    margin: 0.5%;
    width: 24%;
    display: inline-block;
  }
  div.gallery img {
    -webkit-transition: width  1s, border-radius 500ms ease-out;
    transition: width  1s, border-radius 500ms ease-out;
  }
  div.gallery img:hover {
    -webkit-transition: width  1s, border-radius 500ms ease-in;
    transition: width  1s, border-radius 500ms ease-in;
    width: 95%;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */